<div>
    <div id="map" style="width:750px; height:400px"></div>
</div>
<form name="query" novalidate>
    <!-- Text Boxes and Other User Inputs. Note ng-model binds the values to Angular $scope -->
    <div class="form-group">
        <label for="searchTeach">What do you want to learn?</label>
        <input type="text" class="form-control" id="searchTeacher" placeholder="Guitar/Jazz..." ng-model="formData.searchTeacher" required>
    </div>
    <div class="form-group">
        <label for="searchLoc">zipcode</label>
        <input type="text" class="form-control" id="searchLoc" placeholder="zipcode" ng-model="formData.searchLoc" required>
    </div>
    <div class="form-group">
        <label for="distance">Max Distance (in Miles)</label>
        <input type="text" class="form-control" id="distance" placeholder="100" ng-model="formData.distance" required>
    </div>
    
    <!-- Submit button. Note that its tied to createUser() function from addCtrl. Also note ng-disabled logic which prevents early submits.  -->
    <button type="submit" class="btn btn-danger btn-block" ng-click="queryUsers()" ng-disabled="addForm.$invalid">Search</button>
 
</form>